body {
    background: #222;
    
}
   
#texts {
    color: #fff;
    text-align: center;
    font-family: helvetica;
    font-weight: 900;
    font-size: 50px;
    margin-top: 200px;
}
   
button {
    border: solid #fff 5px;
    background: transparent;
    padding: 5px;
    color: #fff;
    font-weight: 900;
}
   
select {
    border: solid #fff 5px;
    background: transparent;
    padding: 5px;
    color: #fff;
    font-weight: 900;
}
   
optgroup, option {
    background: #222;
    font-weight: 900;
}
   
button, select {
    border-radius: 10px;
    font-size: 30px;
}

#footer {
    color: #fff;
    font-family: helvetica;
    margin-top: 50px;
}