doctype html
html
 
 head
  title
   | AnimateCSSPlugin DEMO
  meta(name="viewport", content="width=device-width, initial-scale=1")
  meta(name="author", content="Waren Gonzaga")
  link(rel="stylesheet", href="css/style.min.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js")
  script(src="js/animateCSSPlugin.min.js")
  script(src="js/script.min.js")
  
 body
  p#texts
   | AnimateCSSPlugin
  
  center
   select#animations
    optgroup(label="Attention Seekers")
     option(value="bounce", selected="selected")
      | Bounce
     option(value="flash")
      | Flash
     option(value="pulse")
      | Pulse
     option(value="rubber band")
      | Rubber Band
     option(value="shake")
      | Shake
     option(value="swing")
      | Swing
     option(value="tada")
      | Tada
     option(value="wobble")
      | wobble
     
     
   button(onclick="animation()").
    Animate it
  
   p#footer.
    Coded with <3 by Waren Gonzaga
     
